@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}


#inside-bg {
  position:absolute;
  width: 90%;
  height: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity:30%;
  background-color: #ffffff;
  border-radius: 20px;
  }

  #login-form {
    margin-left: 20px;
    margin-top: 30px;
  }

.hidden {
  visibility: hidden;
}


#greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding-top: 100px;
  margin-bottom: 0;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#icon {
  font-size: 22px;
  
}

#name-input {
  width: 200px;
  height: 30px;
  padding: 0 10px;
  margin: 0 5px;
  border-radius: 10px;
  border: 0;
  background-color: #ffffff;
  opacity: 50%;
  }

#name-submit {
  height: 30px;
  background-color: rgb(253, 253, 198);
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}

input[name=what-name]::placeholder {
  font-size: 14px;
  color: black;
}

.parent-box {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin: 50px;

}

#todo-box {
  width: 40vw;
  height: 42vh;
  background-color: #ffffff;
  opacity: 85%;
  border-radius: 30px;
  margin-right: 60px;
  margin-left: 60px;
  
}

#todo-title {
  padding-left: 40px;
  padding-top: 30px;
}

#todo-input {
  width: 200px;
  height: 30px;
  padding: 0 10px;
  margin: 0 5px;
  border: none;
  border-bottom: 1px solid black;
  margin-left: 50px;
  
}

ul {
  list-style: none;
}

li > button {
  background-color: transparent;
  border: none;
  padding: 5px 12px;
}

li {
  display: flex;
  align-items: center;
}

#small-parent-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#quote {
  width: 17vw;
  height: 13vh;
  padding: 20px;
  background-color: #ffffff83;
  border-radius: 20px;
  line-height: 1.5;
  font-style: italic;
}

#weather {
  width: 17vw;
  height: 13vh;
  padding: 20px;
  background-color: #ffffff83;
  border-radius: 20px;
  line-height: 1.5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#weather-icon {
  font-size: 45px;
}

#weather-condition {
  font-size: 20px;
  font-weight: 600;
}